/*
	A NC State brand-friendly color theme alternative
	Blue with beige accents
*/


/* =Global
----------------------------------------------- */
body {
	background: #000;
	color: #333;
}
#page {}

/* Links */



/* =Header
----------------------------------------------- */
#branding, #supplementary, .widget_search {
	background-color:#b00000 !important;
}
#site-title a {
	color: #fff;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color:#eee !important;
}

#site-description {
	color: #fff;
}



/* =Menu
----------------------------------------------- */

#access {
	background: #333; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#383838, #272727);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#272727)); /* older webkit syntax */
	background: -webkit-linear-gradient(#383838, #272727);
	
}

/* =Content
----------------------------------------------- */

.page-title {
	color: #ccc;
}

/*	=Widgets
----------------------------------------------- */
/* default widget colors */
.widget {
	background:#999;
	border:solid 3px #e5e1d0;
	font-weight:100;
	color:#fff;
}
.widget a {
	color:#fff;
	font-weight:bold;
}
.widget-title {
	color: #fff;
	background:#333;
	font-size: 12px;
	font-weight: 500;
}

/* base widgets can be customized to brand colors
.widget_nav_menu
.widget_categories
.widget_recent_entries
.widget_recent_comments
.widget_archive
*/

/* Meta Widget */
.widget_meta, .widget_nav_menu {background:#999;}
.widget_meta .widget-title,
.widget_nav_menu .widget-title
 {background-color:#333;}

/* Search Widget */
.widget_search {
}


/* =Footer
----------------------------------------------- */

#supplementary {
	border: none;
	color:#d1d1d1;
}

#supplementary a {
	color:#d1d1d1;
}

