/*
	A NC State brand-friendly color theme alternative
	Blue with beige accents
*/


/* =Global
----------------------------------------------- */
body {
	background: #fff;
	color: #333;
}
#page {
	border:solid 1px #e5e1d0;

}

/* Links */



/* =Header
----------------------------------------------- */

#branding, #supplementary, .widget_search {
	background-color:#c5bd9d !important;
}
#site-title a {
	color: #383838;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color:#5c5541 !important;
}

#site-description {
	color: #383838;
}



/* =Menu
----------------------------------------------- */

#access {
	background: #333; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#383838, #272727);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#272727)); /* older webkit syntax */
	background: -webkit-linear-gradient(#383838, #272727);
	
}

/* =Content
----------------------------------------------- */

.page-title {
	color: #ccc;
}

/*	=Widgets
----------------------------------------------- */
/* default widget colors */
.widget {
	background:#9a7;
	border:solid 3px #e5e1d0;
	font-weight:100;
	color:#fff;
}
.widget a {
	color:#fff;
	font-weight:bold;
}
.widget-title {
	color: #fff;
	background:#785;
	font-size: 12px;
	font-weight: 500;
}

/*alt menus widget colors */
.widget_nav_menu {background:#67849c;}

.widget_nav_menu .widget-title {background:#567}

/* base widgets can be customized to brand colors
.widget_nav_menu
.widget_categories
.widget_recent_entries
.widget_recent_comments
.widget_archive
*/

/* Meta Widget */
.widget_meta  {background:#666;}
.widget_meta .widget-title
 {background-color:#383838;}

/* Search Widget */
.widget_search {
}


/* =Footer
----------------------------------------------- */

#supplementary {
	border: none;
	color:#383838;
}

#supplementary a {
	color:#5c5541;
}

