/*
Theme Name: OIT Flex
Theme URI: http://oitdesign.ncsu.edu
Github Theme URI: https://github.com/ncsumarit/oitflex
Version: v1.0.0
Author: OIT Design, Jen Riehle
Author URI: http://oitdesign.ncsu.edu/
Description: A child of the Twenty-Eleven theme with a flexible layout, offering style and image options specific to NC State University and falling within the university brand book guidelines. Created by OIT Design.
Template: twentyeleven
Version: 1.0
License: GNU General Public License
License URI: license.txt
Tags: ncsu, dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
*/
@import url(../twentyeleven/style.css);
@import url(http://fonts.googleapis.com/css?family=News+Cycle|Oswald);

/* =Structure
----------------------------------------------- */

body {
	padding: 0 2em;
}
#page {
	margin: 0em auto;
	max-width: 1000px;
	border:2px #fff solid;

}
#branding hgroup {
	margin: 0 4.6%;
	/*background:url(images/title.png) no-repeat;*/
}
#access {margin:0; padding:0}
#access div {
	margin: 0 3.6%;
}
:focus {/* remember to define focus styles! */
	outline: 1;
}
#primary {
	float: left;
	margin: 2px -26.4% 2px 0;
	padding:0;
	width: 740px;
}
#primary #content {
	margin: 0 34% 0 2.6%;
	width: 98.8%;
}
div #secondary, .singular #secondary {
	float: right;
	margin:3px 0px;
	width: 23.8%;
	
}

/* Singular */

.left-sidebar .singular #content {
	margin: 0 1.6%;
	width: 70.9%;
}
.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {
	margin: 0 auto;
	padding:0;
	width: 100%;
}

/* error404 */
.error404 #primary #content {
	margin: 0 1.6%;
	width: auto;
}

/* Right Content */
.left-sidebar #primary {
	float: right;
	margin: 0 0 0 -26.4%;
	width: 100%;
	
}
.left-sidebar #primary #content {
	margin: 0 2.6% 0 23%;
	width: 74.5%;
}

.left-sidebar #secondary, .page-template-showcase-php #secondary {
	float: left;
	margin-left: 0;
	margin-right: 0;
	width: 21.2%;
}
.page-template-showcase-php .recent-posts {float:right; padding-right:2.6%;}

/* One column */
.one-column #page {
	max-width: 1000px;
}
.one-column #primary #content, article.intro, .page-template-showcase-php #primary #content  {
	margin: 0 2.6%;
	width: 960px;
}
.page-template-showcase-php #primary {
	width:1000px;	
}
.one-column #secondary {
	float: none;
	margin: 0 3.6%;
	width: auto;
}

/* =Header
----------------------------------------------- */

#branding {
	border:none;
	padding-bottom: 10px;
	position: relative;
	z-index: 9999;
	background:url(images/header-back.png) repeat-y;
	background-color:#9C3;
	
}
#site-title {
	margin-right: 270px;
	padding: 1.69625em 0 .1em 0;
	font-family: 'Oswald', sans-serif;
	font-weight:bolder;
	text-transform:uppercase;
}
#site-title a:hover {color:#c00;}
#branding #site-title img {
	max-height:70px;
	width:auto;	
	border:none;
}

#site-description {
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	margin:0 0 1.65625em;
	/*display:none;*/
}
#branding img {
	height: 200px;
	margin-bottom: -7px;
	border-bottom:solid 2px #fff;
	border-top:solid 2px #fff;
	width: 100%;
}

/* Search Form */

#branding #searchform,
.one-column #branding #searchform {
	position:absolute;
	float:right;
	top: 2.0em;
	right: 7.6%;
	text-align: right;
	background-color:#fff;
}

#branding #s {
	width: 122px;
}


/* =Nav
----------------------------------------------- */
/* Links */
a {
	color: #a00;
	text-decoration: none;
}
#access {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #fff;
}
#access li:hover > a,
#access a:focus {
	background: #fff; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#fff, #f9f9f9);
	background: -o-linear-gradient(#fff, #f9f9f9);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9f9f9)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#fff, #f9f9f9);
	color: #373737;
}


/* =Content
----------------------------------------------- */

#main {
	padding:0;
}
#main #content {padding-top:12px;}

.hentry,
.no-results {
	margin: 0 0 0.625em;
	padding: 0 0 0.625em;
	border-bottom:none;
	position: relative;
}

.entry-title,
.entry-header .entry-meta {
	padding-top:10px;
	padding-right:16px;
}
.entry-title {
	font-size: 22px;
	line-height: 1.em;
	padding-top: 0px;
}
.hentry:last-child,
.no-results {
	border-bottom: none;
}

article.intro {
	background: #fff;
	margin: 0;
	padding: 0;
}
/* Images */


/* Singular content styles for Posts and Pages */

.singular .hentry {
	padding: 1.875em 0 0;
	position: relative;
}
.singular.page .hentry {
	padding: 0.5em 0 0;
}
.singular .entry-title {
	font-size: 22px;
	line-height: 28px;
}

.singular .entry-meta .edit-link a {
	bottom: auto;
	left: 680px;
	position: absolute;
	right: auto;
	top: 3px;
}
.one-column.singular .entry-meta .edit-link a {
	left: 910px;
	top: 3px;
}

/* Comments Link */
.entry-header .comments-link a {
	background: #eee url(images/comment-bubble.png) no-repeat;
	color: #666;
	font-size: 13px;
	font-weight: normal;
	line-height: 35px;
	overflow: hidden;
	padding: 0 0 0;
	position: absolute;
	top: 1.7em;
	right: 0;
	text-align: center;
	text-decoration: none;
	width: 43px;
	height: 36px;
}



/* =error404
----------------------------------------------- */
.error404 #primary{
	margin:12px 4%;
	padding:10px;
	width:900px;
}

.error404 #main #searchform {
	border: 1px solid #ddd;
	border-width: 1px;
	margin:1.625em 3%;
	padding: 1.625em 8.9%;
}

.error404 #main .widget {
	margin-right: 2.7%;
	margin-bottom:40px;
	width: 30.85%;
	background-color:#FFFFFF;
	border:none;
}
.error404 #main .widget li a {color:#666;}


/* =Featured Posts Slider
----------------------------------------------- */
#primary .featured-posts {
	margin:0;
	padding:8px;
	background-color:#e1e1e1;
	height:276px;
	overflow:hidden;
}

#primary .featured-posts section {padding:0;margin:0;width:1000px; background-color:#e1e1e1;}

.featured-posts section.featured-post article {
	padding:0px;
	margin:4px 0 3px 10px; 
	float:left; width:580px; }
.featured-posts section.featured-post img {
	padding:0;
	margin:0 32px 8px 0;
	float:right; border:solid 3px #333;}

section.featured-post .attachment-small-feature {
	margin:0px; padding:0px;
	float:right;
	max-width:340px;
	max-height:240px;
	width:auto;	
}
nav.feature-slider li {padding:0; margin:0 6px 0 0;}
article.feature-image.small .entry-summary {
 font-size:.9em; color:#333; }


/* =Widgets
----------------------------------------------- */

.widget-area {
	font-size: 12px;
}
.widget {
	clear: both;
	margin: 0;
	min-width:200px;
	background:#666666;
	border:solid 3px #efe9e4;
	font-weight:100;
	color:#fff;
}
.widget a {
	color:#ccc;
	font-weight:bold;
}
.widget-title {
	padding:2px 5px;
	color: #fff;
	background:#333333;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.widget ul {
	padding:4px 8px;
	list-style-type:none;
}
.widget ul li {color:#fff;}
.widget ul ul {
	margin-left: 1.0em;
}

.widget a:hover,
.widget a:focus,
.widget a:active {
	text-decoration: underline;
}

/* Showcase sidebar widget */
.textwidget {
	padding: 4px;
	font-size:1.15em;
	letter-spacing:.1em;
		
}

/* Search Widget */
.widget_search {background-color:#c00;}
.widget_search form {
	margin: 1em 1.625em;
	background-color:#fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
}
.widget_search #s {
	
	width:152px; 
}

/* =Footer
----------------------------------------------- */
#supplementary {
	border: none;
	background-color:#c00;
	padding: 0.925em 2.6%;
	overflow: hidden;
	font-size:.85em;
} 
#supplementary .widget, #supplementary .widget-title  {
	border:none; background:none; 
}
#supplementary div {text-align:center;color:#fff;}